@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --ifm-color-primary: #3b94cc;
  --ifm-color-primary-dark: #3482b3;
  --ifm-color-primary-darker: #29668c;
  --ifm-color-primary-darkest: #16384d;
  --ifm-color-primary-light: #3f9ed9;
  --ifm-color-primary-lighter: #43a7e6;
  --ifm-color-primary-lightest: #4abaff;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: "Inconsolata", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3b94cc;
  --ifm-color-primary-dark: #3482b3;
  --ifm-color-primary-darker: #29668c;
  --ifm-color-primary-darkest: #16384d;
  --ifm-color-primary-light: #3f9ed9;
  --ifm-color-primary-lighter: #43a7e6;
  --ifm-color-primary-lightest: #4abaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Roboto Flex", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

code {
  font-weight: 600;
}

/* Responsive iframe - https://stackoverflow.com/a/29784327 */
.wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
